*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: 100%;
}
body{
    padding: 40px  100px;
}
a{
    text-decoration: none;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
header{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.logo{
    font-size: 2.5em;
    color: hsl(240, 100%, 5%);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000
}
.navlinks a{
    margin-left: 30px;
    color: hsl(236, 13%, 42%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navlinks a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}
.gridlinks{
    background-color: hsl(240, 100%, 5%);
    width: 40%;
    padding: 25px;
}
h2{
    color: hsl(35, 77%, 62%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.grid1{
    display: flex;
    justify-content: space-between;
    column-gap: 20PX;
} 
h4{
    padding-top: 20px;
    padding-bottom: 20px;
    color: hsl(36, 100%, 99%);
    font-family: Arial, Helvetica, sans-serif;
}
h4:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
hr{
    color: hsl(36, 100%, 99%);
}
.explain{
    color: hsl(233, 8%, 79%);
    padding-bottom: 20px;
    line-height: 25px;
}
.left-subtext{
    color:  hsl(233, 8%, 79%);
    line-height: 25px;
    margin-left: -90px;
}
.subgrid1{
    margin-top: -120px;
 display: grid;
 grid-template-columns: auto auto;
 grid-template-rows: auto;
}
.subgrid1 h1{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn1{
    padding: 15px;
    display: block;
    margin-top: 20px;
    border: none;
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    letter-spacing: 3px;
    width: 30%;
}
.btn1:hover{
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
}
.wrapper{
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}
/* .rewrapped{
    
 
}
.wrapped2 img{
    
} */
h5{
    font-size: 1.2em;
}
h5:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.numbers{
    color: hsl(233, 8%, 79%);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}